@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    font-family: 'Abel', sans-serif;
    --text-color: white;
    scroll-behavior: smooth;
}

body {
    max-width: 980px;
    margin: auto;
}

@media (min-width: 480px) {
    header nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    }
}

.logo {
    display: flex;
    justify-content: center;
}

.logo img {
    width: 79px;
    height: auto;
}

header {
    background-image: url('https://res2.weblium.site/res/5c6baeb282446900223a8ad2/5c6cf805701d3b0025eedc99_optimized_1200.webp');
    background-size: cover;
    margin: 15px 20px 20px 20px;
    min-height: 540px;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items: center;
}

header .menu a {
    text-decoration: none;
    color: var(--text-color);
}

header .menu a:hover {
    color: rgb(235 181 25);
}

header .banner {
    color: var(--text-color);
    background-color:gray;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gradient {
    background-color: rgb(245, 183, 25);
    background-image: linear-gradient(to right,rgb(245, 183, 25),rgb(285, 81, 36));
}

#gradient:hover {
    background-image: linear-gradient(to left,rgb(245, 183, 25),rgb(285, 81, 36));
}

/* Controls */

.button {
    padding: 0.35em 1.2em;
    border-radius: 1em;
    border-color: rgb(255, 255, 255, 0);
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    transition: color 0.7s;
    background-color: transparent;
}

.button:hover {
    color: #000000;
    background-color: #FFFFFF;
    cursor: pointer;
}
