@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

:root {
    font-family: 'Abel', sans-serif;
    --text-color-primary-light: white;
    --text-color-primary-dark: black;
    --text-color-paragraphs: rgb(88, 81, 87);
    --text-color-accent: rgb(245, 183, 25);
    --background-color-light: rgb(243, 242, 241);
    --background-color-dark:rgb(60, 38, 81);
    font-weight: 400;
    font-stretch: 100%;
    scroll-behavior: smooth;
    --text-size-subheadings: 2.3125rem;
    --text-size-paragraph: 1.125rem;
    margin: 0;
    padding: 0;
}

body {
    margin: auto;
    padding: 15px 30px 0px 30px;
    width: min(100%, 85rem);
}

.logo img {
    margin-top: 25px;
    width: 70px;
    height: auto;
}

header div .menu {
    width: 60%;
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
}

header .menu a {
    text-decoration: none;
    color: var(--text-color-primary-light);
    font-size: 20px;
}

header .menu a:hover {
    color: var(--text-color-accent);
}

.container {
    background-image: url('https://res2.weblium.site/res/5c6baeb282446900223a8ad2/5c6cf805701d3b0025eedc99_optimized_1200.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 950px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

header div .banner {
    color: var(--text-color-primary-light);
    margin-top: 125px;
    width: 550px;
    height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gradient-banner {
    background-color: rgb(245, 183, 25);
    background-image: linear-gradient(to right,rgb(224, 55, 102),rgb(175, 45, 127));
}

hr {
    width: 8rem;
    color: var(--text-color-primary-dark);
}

h1 {
    font-size: 3.75rem;
    margin-bottom: 0;
    margin-top: 75px;
}

h2 {
    font-size: var(--text-size-subheadings);
}

h3 {
    font-size: 1.4375rem;
}

h3 a{
    text-decoration: none;    
    color: var(--text-color-primary-dark);
    font-size: 1.4375rem;
    text-align: center;
}

h3 a:hover {
    text-decoration: underline;
}

.banner-text {
    font-size: 1.125rem;
    margin-top: 0;
    letter-spacing: 0.7px;
}

.our-philosophy {
    padding: 30px 0px 30px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.our-philosophy-image img {
    width: 100%;
    height: auto;
}

.our-philosophy-text {
    padding: 30px 30px 30px 30px;
}

.our-philosophy-text p {
    padding: 30px 0px 30px 0;
    color: var(--text-color-paragraphs);
}

.bestsellers {
    padding-top: 50px;
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
}

.bestsellers-header {
    text-align: center;
    margin-bottom: 50px;
}

.bestsellers-body {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.bestsellers-article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.bestsellers-article h3 {
    display: flex;
    justify-content: center;
}

.bestsellers-article p {
    font-size: 1.7rem;
    color: var(--text-color-accent);
    text-align: center;
}

.bestsellers-article a img {
    width: 275px;
 }

 .gift-sets {
    padding-top: 50px;
    background-color: var(--background-color-dark);
    margin-top: 30px;
    color: var(--text-color-primary-light);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gift-sets-header {
    text-align: center;
    margin-bottom: 20px;
}

.gift-sets-body {
    display: flex;
    justify-content: space-evenly;
    align-items:center;
}

.gift-set {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gift-set img {
    width: 275px;
 }

.gift-sets-footer {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
}

.video-presentation {
    padding-top: 50px;
    margin-top: 30px;
    background-color: var(--background-color-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presenting-video {
    margin-top: 30px;
    margin-bottom: 40px;
}

.subscription {
    height: 275px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url('https://res2.weblium.site/res/5c6baeb282446900223a8ad2/5c77c77a1c55ee002272c9b7_optimized_1200.webp');
}

.subscription h3 {
    color: var(--background-color-light);
}

input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: 0;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow:0 0 15px 4px rgba(0,0,0,0.06);
    width: 300px;
}

input[type="submit"] {
    padding: 10px;
    width: 320px;
    margin: 0;
}

.section-ingredients {
    background-color: var(--background-color-light);
    margin-top: 30px;
    text-align: center;
    padding-bottom: 20px;
}

.ingredients-header {
    text-align: center;
    padding-top: 30px;
}

.ingredients-header p {
    color: var(--text-color-paragraphs);
}

.ingredients-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-around;
    padding-left: 100px;
}

.ingredients-grid h3 {
    margin-left: 35px;
}

.single-ingredient {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.single-ingredient img {
    width: 200px;
}

.ingredients-button {
    margin: 30px;
    margin-bottom: 30px;
}

/* Controls */

.button-link {
    padding: 0.75em 2em;
    border-radius: 1.5em;
    border-color: rgb(255, 255, 255, 0);
    color: var(--text-color-primary-light);
    text-align: center;
    text-decoration: none;
    transition: color 0.7s;
    font-size: 0.875rem;
}

.button {
    padding: 0.75em 2em;
    border-radius: 2em;
    border-color: rgb(255, 255, 255, 0);
    color: var(--text-color-primary-light);
    text-align: center;
    text-decoration: none;
    transition: color 0.7s;
    font-size: 0.875rem;
}

#button-banner {
    margin-top: 40px;
    margin-bottom: 50px;
}

.button:hover {
    background-color: var(--text-color-primary-light);
    cursor: pointer;
}

.gradient-button {
    background-color: rgb(245, 183, 25);
    background-image: linear-gradient(to right,rgb(245, 183, 25),rgb(285, 81, 36));
}

.gradient-button:hover {
    background-color: rgb(245, 183, 25);
    background-image: linear-gradient(to left,rgb(245, 183, 25),rgb(285, 81, 36));
}

/* Media Queries */